<footer class="footer" id="footer">
  <div class="footer_top text-right">
    <div class="container text-right">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h5 class="list-title mb-3">عنوان الروابط</h5>
                <ul class="footer-list">
                  <li><a href="#">رابط ذيل بسيط</a></li>
                  <li><a href="#">رابط ذيل بسيط</a></li>
                  <li><a href="#">رابط ذيل بسيط</a></li>
                  <li><a href="#">رابط ذيل بسيط</a></li>
                  <li><a href="#">رابط ذيل بسيط</a></li>
                </ul>
            </div>


          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
             <h3>معلومات التواصل</h3>
              <ul class="contact_main">
                <li class="add"> <i class="fa fa-map-marker"></i> Tokio, Japan </li>
                <li style="font-family:Verdana, Geneva, sans-serif;"><i class="fa fa-phone"></i> 123 456 7890 </li>
		            <li style="font-family:Verdana, Geneva, sans-serif;"><i class="fa fa-mobile"></i> : 123 456 7890</li>
                <!-- <li style="font-family:Verdana, Geneva, sans-serif;"><i class="fa fa-fax"></i> 0146610202</li> -->
                <li style="font-family:Verdana, Geneva, sans-serif;"><i class="fa fa-inbox"></i>10, First Avenue, Muswell Hill1 </li>
                <li style="font-family:Verdana, Geneva, sans-serif"> <i class="fa fa-envelope"></i>  mail@mail.com</li>
                <li style="font-family:Verdana, Geneva, sans-serif"><i class="fa fa-home"></i>  www.jali.site </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</footer><!-- end of Footer -->
<section id="copy" class="py-4 bg-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
                      {{ mp_9.item_1}}
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          {{ mp_9.item_2}}
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          {{ mp_9.item_3}}
        </div>
      </div>
    </div>
</section>
